* {
	font-size: 95%;	
}

body {
	font-family: sans-serif;
	color: #333;
}

h2 + ul, ul.job, #info {
	list-style-type: none;
}

#contact {
	display: inline;
}

ul li ul {
	list-style-type: disc;
	padding-left: 2em;
}

h1, #info {
	text-align: center
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

#updated {
	text-align: center;
}

.title {
	display: inline;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

.dates {
	display: inline;
	padding-left: 1em;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.company {
	font-style: italic;
}
