body {
  font-family: sans-serif;
  color: #333;
  padding-left: 3em;
  padding-right: 3em;
}

ul {
  list-style-type: none;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h2 {
 font-size: large;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: mediumpurple;
}
}
