h2 + ul, ul.job, #info {
  list-style-type: none;
}

h2 {
  text-decoration: underline;
}

ul.job li.title {
  font-weight: bold;
}

ul li ul {
  list-style-type: disc;
  padding-left: 2em;
}

#awards li {
  list-style-type: disc;
}

#contact, .title {
  display: inline;
}

h1, #info, #updated {
	text-align: center
}

.company {
  font-style: italic;
}

ul.job li.dates {
  /* text-align: right; */
  /* display: inline; */
  float: right;
}

body {
  padding-left: 3em;
  padding-right: 3em;
}
