/* header styling */
h2 + ul, ul.job, #info {
  list-style-type: none;
}

h2 {
  text-decoration: underline;
}

ul.job li.title {
  font-weight: bold;
}

ul li ul, #awards ul {
  list-style-type: disc;
  padding-left: 2em;
}

#awards li {
  list-style-type: disc;
}

ul {
  padding-left: 1em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.2em;
}

h2, h3 {
  margin: 0;
}

#contact, .title {
  display: inline;
}

h1, #info, #updated {
	text-align: center
}

.company {
  font-style: italic;
}

ul.job li.dates {
  /* text-align: right; */
  /* display: inline; */
  float: right;
}

#updated {
  margin-top: 2em;
}

/* moving back to common */
body {
	font-family: sans-serif;
	color: #333;
}

.title {
	font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.dates {
	font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
