/* Resume stysheet for printing */

/* scale down everything */
/* * { font-size: 95%; } */

/* Serifs generally look nicer printed
 * Note: as-is this is overridden by the more specific rules from the main
 * style-sheet.
 */
/* * { font-family: serif; } */

/* Adjust font sizes, put in points for easier printing */
h1 { font-size: 16pt; }
h2 { font-size: 12pt; }
h3 { font-size: 10pt; }
li { font-size: 10pt; }
