/* Resume stysheet for printing */

/* scale down everything */
/* * { font-size: 95%; } */

/* Serifs generally look nicer printed
 * Note: as-is this is overridden by the more specific rules from the main
 * style-sheet.
 */
/* * { font-family: serif; } */

/* Adjust font sizes, put in points for easier printing */
h1 { font-size: 18pt; }
h2 { font-size: 11pt; }
h3 { font-size: 9pt; }
li { font-size: 9pt; }
#updated { font-size: 9pt; }

/*
section#skills {
  margin-top: 4em;
}*/

/*
body {
  margin-left: 1em;
  margin-right: 1em;
}*/
