/* Resume stysheet for printing */
/* TODO: current style sheet is set for all media, but uses pts and in
 * as well as em. Need to make consistent.
/*
section#skills {
  margin-top: 4em;
}*/

/*
body {
  margin-left: 1em;
  margin-right: 1em;
}*/

h2, h3 {
  margin: 0;
}

h2 + ul, ul.job {
  list-style-type: none;
}

/* IMPORTING EVERYTHING HERE */
/** Headers **/
section > h1 {
  text-align: left;
  font-size: 1em;
  margin-bottom: 0;
}

/** Lists **/
ul li ul {
  list-style-type: disc;
  padding-left: 2em;
}

#awards li {
  list-style-type: disc;
}

ul {
  padding-left: 1em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.2em;
}


/** Sections **/
section {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

h2 {padding-bottom: 0.05in;}

/** Classes & IDs **/
#contact, .title, .company {
  float: left;
}

.company {
  padding-left: 0.5em;
}

.line {
  border-bottom: 1pt dotted grey;
  height: 0.8em;  
}

.dates {
  float: right;
}

.description {
  clear: both;
}

ul.job {
  margin-bottom: 0.05in;
}

.title, .company, .dates, .award{
  background-color: white;
}

.company, .award {
  padding-right: 0.7em;
}

.dates {
  padding-left: 0.7em;
}

#awards div.dates {
  /* clear: both; */
}

#awards div.award {
  float: left;
}

#awards li {
  list-style-type: none;
  clear: both;
}


