/** Font and Text Size **/
.title, h1, h2, h3 {
  font-family: 'Roboto', sans;
  font-weight: 500;
}

#info, .dates, .company {
  font-family: 'Open Sans';
}

.company {
  font-style: italic;
}

.dates {
  font-weight: 600;
}

body {
  font-family: 'Open Sans', sans;
  font-weight: 400;
}

body {
  line-height: 1.4em;
}
