#name {
  display: inline-block;
  margin: 0;
  padding-top: 0.1in;
  font-family: 'Roboto';
  font-weight: 500;
}

/** Header **/
#info {
  float: right;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  list-style-type: none;
}

header {
  height: 0.4in;
  /*padding-top: 100px;*/
}

/** Sections **/
main { 
/*  border-top: 1pt solid black; */
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-top: 0.5em;
}
