/* Font sizes */
h1 { font-size: 1.8em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }

li, p, tr {
  font-size: 1.0em;
}

li.title, li.dates, li.company { 
  font-size: 1.0em;
}

#info {
  font-size: 0.9em
}

section {
  border-top: 1px solid lightgrey;
}

#page {
  /* border: solid 1px grey; */
  padding-left: 2em;
  padding-bottom: 2em;
}

body {
  /* background-color: lightgrey; */
}

